/* hero1.css */
.moving-container {
    position: fixed;
    width: 180px;
    height: 320px;
    background: rgba(0, 0, 0, 0.8);
    border: 5px solid black;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transition: all 0.5s ease;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    .moving-container {
        width: 135px;
        height: 24"px;
        border-width: 2px;
    }
}

@media (max-width: 480px) {
    .moving-container {
        width: 90px;
        height: 160px;
        border-width: 2px;
    }
}
